name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show app.json
        run: cat app.json

      # اینجا steps واقعی Build/Deploy خودت را قرار بده
      # مثلا:
      # - name: Install dependencies
      #   run: npm install
      #
      # - name: Build
      #   run: npm run build

